button,
input,
select,
textarea {
    outline: none !important;
}

.btn:focus {
    box-shadow: none !important;
}

/* HEADER */
.div1header {
    height: 23vh !important;
}

.headerh1 {
    padding-top: 10px !important;
}

.name {
    font-weight: bold;
    font-size: 1.5em;
}

.headerh2 {
    color: #f05454;
    font-family: Indie Flower;
    margin-top: inherit;
    margin-bottom: inherit;
}

/* ANIMATION HEADER H2 */
.headerh2:before {
    content: 'Développeur Web';
    animation-name: head;
    animation-duration: 5s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}
@keyframes head {
    0% {
        content: 'Joueur';
        font-size: 0.8em;
        color: #dddddd;
        text-align: center;
    }

    25% {
        content: 'Geek';
        font-size: 0.8em;
        color: #dddddd;
    }

    50% {
        content: 'roliste';
        font-size: 0.8em;
        color: #dddddd;
    }

    75% {
        content: 'cinephile';
        font-size: 0.8em;
        color: #dddddd;
    }

    100% {
        content: 'Developpeur Web Junior';
        color: #f05454;
        margin-left: 15vw;
        font-size: 1em;
    }

}
/* ANIMATION HEADER H2 FIN*/

.div1header {
    background-color: #222831;
    text-align: center;
}

.headerh1 {

    color: #dddddd;
    font-family: Indie Flower;
    font-weight: bold;
    margin-top: inherit;
    margin-bottom: inherit;
}



/* NAVBAR */
.div2header {
    background-color: #f05454;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: inherit;
}

.butnav {
    font-family: Indie Flower;
    font-size: 1.1em;
    font-weight: bold;
}

.butnav:hover {
    border: #f05454 !important;
    -webkit-transform: scale(1.2) rotate(7deg);
    -moz-transform: scale(1.2) rotate(7deg);
    -o-transform: scale(1.2) rotate(7deg);
    transform: scale(1.2) rotate(7deg);
    transition: 0.8s;
}
/* NAVBAR FIN */
/* HEADER FIN */


/* PRESENTATION */
.presdiv {
    display: flex;
    justify-content: space-between;
    margin:20px 150px 20px 150px;
    align-items: center;
}

.presep {
    font-family: Indie Flower;
    font-weight: bolder;
    font-size: 1.4em;
    text-align: justify;
    color: #222831;
    margin: auto 50px;
}

.presimg {
    height: 350px;
    margin-left: 80px;
    margin: 0;
    padding: 30px 18px;
    transition: 0.8s !important;
}

/* HOVER IMAGE */
.presimg:hover {
    -webkit-transform: scale(1.4) rotate(-10deg);
    -moz-transform: scale(1.4) rotate(-10deg);
    -o-transform: scale(1.4) rotate(-10deg);
    transform: scale(1.4) rotate(-10deg);
    transition: 0.8s;
}
/* PRESENTATION FIN*/

/* PROJETS */
.hsit {
    font-family: Indie Flower;
    font-weight: bold;
    font-size: 1.5em;
    color: #f05454;
}

.psit {
    font-family: lato;
    font-size: 1.2em;
    color: #f05454;
}

.asit {
    font-family: Indie Flower;
    font-size: 2em;
    color: #f05454;
    text-decoration: none;
}

.strongp {
    margin-top: 20px;
    font-size: bold;
    font-family: lato;
    font-size: 1.2em;
    color: #f05454;
}

.asit:hover {
    color: white;
    transition: 0.5s !important;
}

.test {
    position: relative;
    width: 70% !important;
    margin: 50px auto 50px auto;
}

.test:hover .textpres {
    border: solid 5px #f05454;
    visibility: visible;
    transition: .6s !important;
    opacity: 1;
}

.test img {
    width: 100%;
    height: 100%;
}

.textpres {
    background-color: #222831;
    height: 100%;
    width: 100% !important;
    left: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    opacity: 0;
    color: black;
    transition: .5s !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;

}
/* PROJETS FIN */


/* SKILL */
.hcomp {
    font-family: Indie Flower;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #312223;
    margin: 15px auto;
}

.skills {
    margin-bottom: 50px;
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: #222831;
    margin: 15px auto;
}

#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}
@-webkit-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}
@-moz-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}
@-o-keyframes Animate-HTML {
    from {
        width: 10px;
    }

    to {
        width: 100%
    }
}

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}
@-webkit-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}
@-moz-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}
@-o-keyframes Animate-CSS {
    from {
        width: 10px;
    }

    to {
        width: 90%
    }
}

#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-webkit-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-moz-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-o-keyframes Animate-jQuery {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-webkit-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-moz-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}
@-o-keyframes Animate-JS {
    from {
        width: 10px;
    }

    to {
        width: 60%
    }
}

#Skill-AJAX {
    animation: Animate-AJAX 3s;
    -webkit-animation: Animate-AJAX 3s;
    -moz-animation: Animate-AJAX 3s;
    -o-animation: Animate-AJAX 3s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #9e577b;
}
@keyframes Animate-AJAX {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-webkit-keyframes Animate-AJAX {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-moz-keyframes Animate-AJAX {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-o-keyframes Animate-AJAX {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#Skill-GULP {
    animation: Animate-GULP 4s;
    -webkit-animation: Animate-GULP 4s;
    -moz-animation: Animate-GULP 4s;
    -o-animation: Animate-GULP 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #899026;
}
@keyframes Animate-GULP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-webkit-keyframes Animate-GULP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-moz-keyframes Animate-GULP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-o-keyframes Animate-GULP {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-webkit-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-moz-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-o-keyframes Animate-PHP {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

#Skill-SYNF {
    animation: Animate-SYNF 4s;
    -webkit-animation: Animate-SYNF 4s;
    -moz-animation: Animate-SYNF 4s;
    -o-animation: Animate-SYNF 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #538574;
}
@keyframes Animate-SYNF {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-webkit-keyframes Animate-SYNF {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-moz-keyframes Animate-SYNF {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}
@-o-keyframes Animate-SYNF {
    from {
        width: 10px;
    }

    to {
        width: 50%
    }
}

#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-webkit-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-moz-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}
@-o-keyframes Animate-SQL {
    from {
        width: 10px;
    }

    to {
        width: 80%
    }
}

#Skill-BOOTS {
    animation: Animate-BOOTS 4s;
    -webkit-animation: Animate-BOOTS 4s;
    -moz-animation: Animate-BOOTS 4s;
    -o-animation: Animate-BOOTS 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-BOOTS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}
@-webkit-keyframes Animate-BOOTS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}
@-moz-keyframes Animate-BOOTS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}
@-o-keyframes Animate-BOOTS {
    from {
        width: 10px;
    }

    to {
        width: 70%
    }
}

.Skill-Area {
    z-index: 1;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Indie Flower, sans-serif;
    font-size: 18px;
}

.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Indie Flower, sans-serif;
    font-size: 20px;
}
/* SKILL FIN */


/* CONTACT */
.form {
    margin: 50px auto;
}

.form2 {
    margin-left: auto;
    margin-right: auto;
}

label {
    font-family: Indie Flower;
    font-size: 1.2em;
    font-weight: bold;
    color: #222831;
}

.cont {
    font-family: Indie Flower;
    font-size: 2em;
    font-weight: bold;
    color: #222831;
}

.btncont {
    font-family: Indie Flower;
    font-weight: bold !important;
}

.btncont:hover {
    background-color: #f05454;
    color: white !important;
    transition: 0.7s;
}

.btncont1 {
    margin: 20px auto 10px auto !important;
    text-align: center;
}
/* CONTACT FIN */

/* FOOTER */
.foott1 {
    background-color: #222831;
    text-align: center;
    color: #ffffff;
    font-size: 0.7em !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lato;
}

.foott2 {
    Display: none;
}

.foot2 {
    background-color: #f05454;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    color: #222831;
}

.footp {
    font-size: 1.5em;
    font-family: Indie Flower;
    font-weight: bold;
    margin-bottom: inherit;
}

.logo {
    color: #222831;
    font-size: 2em;
}

.logo:hover {
    color: white;
    transition: 0.5s;
}

/* FOOTER FIN */