
        /* Footer fin */
/*     
        .form{
            margin: 100px auto !important;
            min-height:50vh !important;
        }

        .skills{
            margin: 100px auto !important;
        }
} */


@media (max-width: 992px) {

    /* PRESENTATION */
    .presdiv {
        display: flex;
        justify-content: space-between;
        margin: 40px 50px 40px 50px;
        align-items: center;
    }
    /* PRESENTATION FIN*/


    /* PROJETS */
    .hsit {
        font-size: 1em;
    }

    .psit {
        display: none;
    }

    .asit {
        font-size: 0.8em;
    }

    .strongp {
        display: none;
    }
    /* PROJET FIN */

    /* FOOTER */
    .foott1 {
        display: none;
    }

    .foott2 {
        background-color: #222831;
        text-align: center;
        color: #ffffff;
        font-size: 0.7em;
        height: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: lato, sans-serif;
    }
    /* FOOTER FIN */



}

@media screen and ( min-width: 1970px ) and ( min-height: 1070px ){
 
 
    /* HEADER */
    .headerh1 {
        font-size:5em;
        padding-top: 10px !important;
    }
    .headerh2 {
        font-size: 4em;

    }

    /* Navbar */
    .butnav {
        font-size: 3em;
    }
    /* Navbar FIN */
    /* Header FIN */
   
    /* Presentation */

    .presdiv {
        display: flex;
        justify-content: space-between;
        margin:160px 400px 160px 400px !important;
        align-items: center;
    }


    .presep {
       
        font-size: 3em;
    }
    
    .presimg {
        height: 500px;
        margin-left: 80px;
        margin: 0;
        padding: 30px 18px;
        transition: 0.8s !important;
    }
    
    /* Projets */

    .hsit {
        font-size: 3em;
    }
    
    .psit {
        font-size: 2em;
    }
    .strongp {
        font-size: 2em;
    }
    
    .asit {
        font-size: 3em;
    }

    .test {
        
        width: 100% !important;
        margin: 70px auto 70px auto;
    }

    /* projets FIN */

    /* Skill  */

    .hcomp {
        font-family: Indie Flower;
        font-size: 4em;
        margin: 25px auto;
    }

    .SkillBar {
        width: 90%;
        height: 100px;
        position: relative;
        background: #222831;
        margin: 15px auto;
    }


    .Skill-Area {
        font-size:3em !important;
    }
    
    .PercentText{
        font-size:3em !important;
    
    }
    

    #Skill-HTML {
        height: 100px;
    }
    #Skill-CSS {
        height: 100px;
    }
    #Skill-jQuery {
        height: 100px;
    }
    #Skill-JS {
        height: 100px;
    }
    #Skill-AJAX {
        height: 100px;
    }
    #Skill-GULP {
        height: 100px;
    }
    #Skill-PHP {
        height: 100px;
    }
    #Skill-SYMF {
        height: 100px;
    }
    #Skill-SQL {
        height: 100px;
    }
    #Skill-BOOTS {
        height: 100px;
    }

    /* Skill fin */
    /* CONTACT */

    .cont{
        font-size: 5em;
    }
    .form {
        margin: 100px auto;
    }

    label {
        font-size: 4em;
    }
    input{
        border: solid 1px #222831 !important;
    }
    textarea{
        border: solid 1px #222831 !important;
    }
    .text{
        font-size: 3em !important;
    }

    .text:focus {
        font-size: 3em !important;
    }

    .btncont{
        margin-top: 50px;
        font-size: 5em !important;
        border: solid 0px white !important;
    }
    /* CONTACT FIN */

        /* Footer */

        .foott1 {
            font-size: 2em !important;
            height: 70px;
        }

        
        .foot2 {
            height: 200px;
            font-size: 3em;
}
}

@media (max-width: 640px) {

    /* HEADER */
    .headerh1 {
        padding-top: 20px !important;
    }
    /* HEADER FIN */

    /* PRESENTATION */
    .presdiv {
        display: flex!important;
        flex-direction: column-reverse !important;
        margin: 40px 20px 40px 20px;
    }

    .presimg {
        padding: inherit;
        transition: 0.8s !important;
    }
    .presimg:hover {
        -webkit-transform: scale(1.1) rotate(-10deg);
        -moz-transform: scale(1.1) rotate(-10deg);
        -o-transform: scale(1.1) rotate(-10deg);
        transform: scale(1.1) rotate(-10deg);
        transition: 0.8s;
    }
    .presep {
        margin: 10 auto;
        font-size: 1em;
        text-align: justify-all;
    }

    .presh2 {
        Margin-top: 50px;
        margin-bottom: 10px;
        margin-left: inherit;
        text-align: center;
    }
    
    /* PRESENTATION FIN*/
    .foott1 {
        display: none;
    }

    .foott2 {
        background-color: #222831;
        text-align: center;
        color: #ffffff;
        font-size: 0.7em;
        height: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: lato, sans-serif;
    }

    .footp{
        font-size:0.7em;
    }
    /* FOOT
}



@media (max-width: 768px) {

    /* FOOTER */
    .footp {
        font-size: 1em;
    }

    .logo {
        font-size: 1em;
    }
    /* FOOTER FIN */
}
 